h1 {
    text-align: center;
    color: brown;
    text-decoration: wavy;
}

body {
    background-image:url("bgimg.jpg");
    background-repeat: no-repeat;
    
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(228, 141, 10);
}